<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>创米盛游-个人中心</title>
    <link rel="stylesheet" href="/resources/css/base.css">
    <link rel="stylesheet" href="/resources/css/person.css">
    <script src="/resources/js/jquery-3.1.1.min.js"></script>
    <script src="/resources/js/base.js"></script>
</head>
<body>
<div class="box">
    <div class="user">
        <div class="userIcon">
            <img src="/resources/img/icon.jpg">
        </div>
        <div class="userInfo">
            <p>昵称：${userinfo.nickname}</p>
            <p><span>游戏ID：${userinfo.userId}</span></p>
        </div>
    </div>
</div>
<!-- 内容 -->
<div id="container">
    <div class="listGroup f36d12">
        <a href="/resources/html/balance.html?${userinfo.reward}" class="row">
				<span class="icon">
					<i class="iconfont icon-tuiguangyuan_yongjintixian_icon"></i>
				</span>
            <p>我的余额</p>
            <i class="iconfont icon-arrow-right"></i>
        </a>
        <a href="/resources/html/goldIngot.html?${userinfo.money}" class="row">
				<span class="icon">
					<i class="iconfont icon-jinyuanbao001"></i>
				</span>
            <p>元宝数量</p>
            <i class="iconfont icon-arrow-right"></i>
        </a>
        <a href="/resources/html/gold.html?${userinfo.integral}" class="row">
				<span class="icon">
					<i class="iconfont icon-jinbi"></i>
				</span>
            <p>金币数量</p>
            <i class="iconfont icon-arrow-right"></i>
        </a>
    </div>
    <div class="listGroup c1296db">
        <a href="/resources/html/onlineUser.html" class="row">
				<span class="icon">
					<i class="iconfont icon-zaixianrenshu"></i>
				</span>
            <p>在线人数</p>
            <i class="iconfont icon-arrow-right"></i>
        </a>
        <a href="/resources/html/qrcode.html?${userinfo.userId}" class="row">
				<span class="icon">
					<i class="iconfont icon-erweima"></i>
				</span>
            <p>推广二维码</p>
            <i class="iconfont icon-arrow-right"></i>
        </a>
        <a href="#" class="row">
				<span class="icon">
					<i class="iconfont icon-caozuojilu"></i>
				</span>
            <p>操作记录</p>
            <i class="iconfont icon-arrow-right"></i>
        </a>
    </div>
    <div class="listGroup c1296db">
        <a href="/resources/html/set.html" class="row">
				<span class="icon">
					<i class="iconfont icon-shezhi"></i>
				</span>
            <p>设置</p>
            <i class="iconfont icon-arrow-right"></i>
        </a>
    </div>
</div>
<!-- 底部导航 -->
<nav id="menu">
    <ul>
        <li>
            <a href="/index">
                <div class="icon icon1">
                    <!-- <img src="/resources/img/home.png" data-src="/resources/img/home2.png"/> -->
                    <i class="iconfont icon-home"></i>
                </div>
                <p>首页</p>
                <span class="tips">12</span>
            </a>
        </li>
        <li>
            <a href="/resources/html/userManage.html">
                <div class="icon icon2">
                    <i class="iconfont icon-yonghuguanli"></i>
                </div>
                <p>用户管理</p>
                <span class="tips">12</span>
            </a>
        </li>
        <li>
            <a href="/resources/html/infomationManage.html">
                <div class="icon icon3">
                    <i class="iconfont icon-xinxiguanli"></i>
                </div>
                <p>信息管理</p>
                <span class="tips">12</span>
            </a>
        </li>
        <li>
            <a href="/user/person">
                <div class="icon icon4">
                    <i class="iconfont icon-gerenzhongxin"></i>
                </div>
                <p>个人中心</p>
                <span class="tips">12</span>
            </a>
        </li>
    </ul>
</nav>
</body>
</html>
